*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 0;
}
.global-container{
    display: block;
    height: 100%;
    max-width: 100vw;
}
.stop-animation{
    animation-name: none !important;
}
.opacity-1{
    opacity: 1 !important;
}
.display-none{
    display: none !important;
}